ErrorDocument 404 /error.php
ErrorDocument 403 /error.php

RewriteEngine On

# Exclude the src/ folder from being rewritten
RewriteCond %{REQUEST_URI} !^/src/

RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteRule ^(.*)$ /index.php [L]