.animate { transition: all 0.8s ease-in-out; }

.animate.opacity { opacity: 0; }
.animate.opacity[data-state="hide"] { opacity: 0; }
.animate.opacity[data-state="show"] { opacity: 1; }

.animate.translateTop { transform: translateY(-100%); }
.animate.translateTop[data-state="hide"] { transform: translateY(-100%); }
.animate.translateTop[data-state="show"] { transform: translateY(0); }
