footer { background-color: var(--darker-pri-color); }
footer .container {  }
footer .container .content { padding-top: 5rem; padding-bottom: 4rem; width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: space-between; align-content: space-between; }

footer h5 { color: var(--light-text-color); font-weight: 500; line-height: 1.6; margin-bottom: 1.5rem; font-size: 1.1rem; }
footer p { color: var(--light-text-color); font-weight: 400; line-height: 1.8; margin-bottom: .75rem; font-size: .9rem; }
footer a { color: var(--light-text-color); text-decoration: none; transition: 0.4s; }
footer a:hover { color: var(--dark-stroke-color); text-decoration: underline; }
footer ul { list-style: none; margin-bottom: 0; padding-left: 0; }
footer ul li {  }
footer hr { border-top: 2px solid red; }

footer .sitemap { flex: 0 0 70%; margin-right: -.6rem; padding-bottom: 5rem; margin-left: -.6rem; display: flex; flex-direction: row; align-items: stretch; align-content: flex-start; flex-wrap: wrap; justify-content: flex-start; }
footer .about { flex: 0 0 20%; padding-bottom: 5rem; }
footer .about .logo {  }
footer .about .logo img { height: 1.3rem; width: auto; display: block; margin-bottom: 1.5rem; }
footer .copyright { flex: 1 1 100%; padding-top: 2rem; }
footer .copyright p { font-size: .8rem; }

footer .column { flex: 1; padding: 0 .6rem; }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}