/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .squares-3-xs { display: none; }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}

main { padding-top: var(--navbar-height); background: var(--bg-color); z-index: 1; }

main :is(header, section) h1 { color: var(--text-color); font-size: 3rem; font-weight: 500; line-height: 1.3; margin-bottom: 1.5rem; }
main :is(header, section) h2 { color: var(--text-color); font-size: 2.8rem; font-weight: 500; line-height: 1.3; margin-bottom: 4rem; }
main :is(header, section) h3 { color: var(--text-color); font-size: 2.3rem; font-weight: 500; line-height: 1.3; margin-bottom: 1.8rem; }
main :is(header, section) h4 { color: var(--text-color); font-size: 1.2rem; font-weight: 500; line-height: 1.6; margin-bottom: 0; }
main :is(header, section) h5 { color: var(--gray); font-size: 1rem; font-weight: 400; line-height: 2; margin-bottom: 2.5rem; text-align: center; }
main :is(header, section) h6 { color: var(--text-color); font-size: 1rem; font-weight: 400; line-height: 2.15; margin-bottom: 1rem; }
main :is(header, section) p.text-1 { color: var(--gray); font-size: 1.1rem; font-weight: 400; line-height: 2; margin-bottom: 2rem; }
main :is(header, section) p.text-2 { color: var(--gray); font-size: 1rem; font-weight: 400; line-height: 2.15; margin-bottom: 0; }
main :is(header, section) p.text-3 { color: var(--gray); font-size: .95rem; font-weight: 400; line-height: 2.15; margin-bottom: 0; }
main :is(header, section) p.text-4 { color: var(--gray); font-size: .9rem; font-weight: 400; line-height: 2.15; margin-bottom: 0; }

main header#inicio { background: url('../img/bg-right.png'), var(--bg-color); background-size: contain; background-repeat: no-repeat; background-position: right center; background-attachment: local; }
main header .container {  }
main header .container .content { padding: 10rem 0; display: flex; }
main header .info { flex: 0 0 55%; margin: 0 auto 0 0; }
main header .image { flex: 0 0 45%; }
main header .image img { display: block; text-align: center; margin: 0 auto; object-fit: cover; width: 100%; height: 100%; }
main header .links { display: flex; flex-wrap: wrap; align-content: center; justify-content: flex-start; align-items: center; gap: 1.2rem; }
main header :is(a.f-btn, a.s-btn) { text-align: center; font-size: .9rem; font-weight: 400; line-height: 2; padding: .8rem 1.2rem; }
main header a.f-btn {  }
main header a.f-btn.desktop {  }
main header a.f-btn.mobile { display: none; }
main header a.s-btn {  }
main header.error h1 { font-size: 5.5rem; margin-bottom: 0; }
main header.error .text-1 { font-size: 1.9rem; }

main section {  }
main section .section-container {  }
main section .section-container .content { padding: 6.5rem 0; }

main section#clientes {  }
main section#clientes.sp { background: var(--bg-color-1); }
main section#clientes .section-container {  }
main section#clientes:not(.sp) .section-container .content { padding: 2rem 0 4rem 0; }
main section#clientes h3 { text-align: center; }
main section#clientes .text-1 { text-align: center; }

main section#empresa { background: var(--bg-color-1); }
main section#empresa .section-container {  }
main section#empresa .section-container .content {  }
main section#empresa .heading { display: block; width: 45%; margin: 0 auto; }
main section#empresa h3 { text-align: center; }
main section#empresa .text-1 { text-align: center; }

main section#nosotros {  }
main section#nosotros .section-container {  }
main section#nosotros .section-container .content {  }
main section#nosotros .heading { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; }
main section#nosotros .heading .column { flex: 1 0 0%; }
main section#nosotros .heading .column.image {  }
main section#nosotros .heading .column.image img { width: 100%; height: 100%; display: block; margin: 0; text-align: start; object-fit: cover; padding-right: 5.5rem; }
main section#nosotros .heading .column.info { display: flex; flex-direction: column; flex-wrap: nowrap; align-items: flex-start; justify-content: space-between; }
main section#nosotros .heading .column.info h3 { width: 80%; margin-right: auto; }
main section#nosotros .heading .column.info .text-1 { flex: 1 0 auto; }
main section#nosotros .heading .column.info a.btn { padding: 0; }
main section#nosotros .heading .column.info a.btn .arrow {  }
main section#nosotros .heading .column.info a.btn .arrow img.head {  }

main section#servicios {  }
main section#servicios .section-container {  }
main section#servicios .section-container .content {  }
main section#servicios h3 { display: block; width: 30%; margin-left: 0; margin-right: auto; margin-bottom: 2.5rem; }

main section#productos { background: var(--bg-color-3); }
main section#productos .section-container {  }
main section#productos .section-container .content { padding: 10rem 0; }
main section#productos h2 { text-align: center; color: var(--light-text-color); width: 40%; margin-left: auto; margin-right: auto; }

main section#socios {  }
main section#socios .section-container {  }
main section#socios .section-container .content { padding: 6.5rem 0 8rem 0; display: flex; flex-direction: row; justify-content: flex-start; align-items: stretch; flex-wrap: wrap; }
main section#socios h3 {  }
main section#socios .text-1 {  }
main section#socios .column {  }
main section#socios .column.heading { flex: 1 1 35%; width: 35%; padding-right: 3rem; position: relative; box-shadow: 1rem 0 1.5rem .5rem #FFFFFF; z-index: 5; }
main section#socios .column.carousel { flex: 1 1 65%; width: 65%; z-index: 4; }

main section#why {  }
main section#why .section-container {  }
main section#why .section-container .content { padding: 6.5rem 0 10rem 0; }
main section#why h3 { text-align: center; margin-bottom: 2rem; }
main section#why .text-2 { text-align: center; width: 35%; margin: 0 auto; margin-bottom: 3rem; }

/****** slider ******/
:root { --n-logos: 6; }
@keyframes sliderAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-600% / var(--n-logos))); }
}
.slider { overflow-x: hidden; position: relative; z-index: 4; }
.slider .overlay { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 3; background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(255,255,255,1) 100%); }
.slider .track { display: flex; animation: sliderAnimation 30s linear infinite; position: relative; z-index: 2; }
.slider:hover .track { animation-play-state: paused; }
.slider .track .item { position: relative; flex: 0 0 calc(100% / var(--n-logos)); padding: 0 1.5rem; }
.slider .track .item img { width: 100%; height: auto; display: block; text-align: center; margin: 0 auto; }

.squares-1 { padding-top: 2rem; display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: space-between; align-content: flex-start; gap: 3rem; }
.squares-1 .square { flex: 1 0 0%; background: var(--bg-color); border: 1px solid var(--stroke-color); box-shadow: 0px 4px 40px 0 rgba(25, 85, 139, 0.03); }
.squares-1 .square .square-content { padding: 2.3rem; }
.squares-1 .square h4 { margin-bottom: 1.2rem; }
.squares-1 .square h4 .icon { width: auto; height: 2.4rem; display: inline-block; vertical-align: text-bottom; filter: var(--pri-color-filter); margin-right: .5rem; }
.squares-1 .square .text-2 {  }
.squares-1 .square.f-square {  }
.squares-1 .square.s-square {  }

.squares-2 { padding-top: 5rem; display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; gap: 2rem; align-items: stretch; justify-content: space-between; }
.squares-2 .square { flex: 1 0 0%; background: var(--bg-color); border: 1px solid var(--stroke-color); box-shadow: 0px 4px 40px 0px rgba(25, 85, 139, 0.03); }
.squares-2 .square .square-content { padding: 1.5rem; }
.squares-2 .square h5 { color: var(--pri-color); font-size: 1.7rem; font-weight: 500; line-height: 1.45; margin-bottom: .5rem; text-align: start; }
.squares-2 .square .text-3 {  }

.tabs { display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start; justify-content: space-between; align-items: stretch; gap: 4rem; }
.tabs .column { flex: 1 0 0%; position: relative; }
.tabs .column.info {  }
.tabs .column.image {  }
.tabs .column ul { display: flex; flex-direction: column; justify-content: flex-start; align-items: stretch; margin-bottom: 0; padding-left: 0; list-style: none; }
.tabs .column ul li { cursor: pointer; flex: 1 0 100%; color: var(--text-color); transition: 0.4s; border-bottom: 1px solid var(--stroke-color); }
/* .tabs .column ul li:first-child { border-top: 1px solid var(--stroke-color); } */
.tabs .column ul li.active { background: var(--pri-color); color: var(--light-text-color); }
.tabs .column ul li .tab-content { padding: 1.8rem 1.5rem 1.2rem 1.5rem; }
.tabs .column ul li.active .tab-content { padding: 1.5rem; }
.tabs .column ul li .heading { display: flex; align-items: center; }
.tabs .column ul li .body { display: grid; grid-template-rows: 0fr; transition: 0.2s; }
.tabs .column ul li.active .body { grid-template-rows: 1fr; }
.tabs .column ul li h6 { transition: 0.4s; flex: 1 0 0%; font-size: 1.1rem; margin-bottom: .6rem; font-weight: 500; color: var(--text-color); }
.tabs .column ul li.active h6 { color: var(--light-text-color); }
.tabs .column ul li :is(.more, .link) { flex: 0 1 35%; color: var(--text-color); transition: 0.4s; text-align: end; }
.tabs .column ul li.active :is(.more, .link) { color: var(--light-text-color); font-size: .9rem; }
.tabs .column ul li :is(.more, .link) img { display: inline-block; width: .7rem; height: .7rem; filter: var(--text-color-filter); transition: 0.4s; }
.tabs .column ul li:not(.active) .link { display: none; }
.tabs .column ul li.active .more { display: none; }
.tabs .column ul li.active :is(.more, .link) img { filter: var(--light-text-color-filter); }
.tabs .column ul li .text-3 { color: var(--text-color); transition: 0.4s; overflow: hidden; padding-top: 0rem; }
.tabs .column ul li.active .text-3 { color: var(--light-text-color); }
.tabs .column .panel { height: 100%; }
.tabs .column .panel.active {  }
.tabs .column .panel img { width: 100%; height: 100%; display: block; margin: 0 auto; object-fit: cover; }

.squares-3 { padding-top: 0; display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch; justify-content: center; align-content: flex-start; gap: 4rem; }
.squares-3 .square { flex: 0 0 calc(100% / 3 - 4rem); background: var(--bg-color); border: 1px solid var(--stroke-color); box-shadow: 0px 4px 25px 0 rgba(0, 0, 0, 0.05); text-decoration: none; }
.squares-3 .square .square-content { position: relative; height: 100%; padding: 1.5rem; display: flex; flex-direction: column; flex-wrap: nowrap; align-items: flex-start; justify-content: flex-start; }
.squares-3 .square h4 { flex: 0 0 auto; font-size: 1.1rem; margin-bottom: 1.2rem; width: 100%; }
.squares-3 .square h4 .icon { display: inline-block; border: 1px solid var(--dark-stroke-color); padding: .5rem; margin-right: .5rem; vertical-align: middle; }
.squares-3 .square h4 .icon img { width: auto; height: 1.7rem; display: block; margin: 0 auto; text-align: center; }
.squares-3 .square .text-3 { margin-bottom: 1.2rem; flex: 1 0 auto; width: 100%; font-size: .9rem; }
.squares-3 .square button { padding-left: 0; padding-bottom: 0; flex: 0 1 auto; font-size: .9rem; }
.squares-3 .square button .arrow {  }
.squares-3 .square button .arrow img.head {  }
.squares-3 .square:hover button .arrow img.head { transform: translateX(.2rem) scale(1.1); }
.squares-3-xs {  }
.squares-3-xs[aria-expanded="true"] .f { display: none; }
.squares-3-xs[aria-expanded="false"] .s { display: none; }

.carousel { position: relative; }
.carousel .controls { text-align: end; }
.carousel .control { display: inline-block; background: var(--pri-color); padding: .5rem .75rem; margin: 0 .25rem; border: 0; transition: 0.4s; }
.carousel .control:disabled { background: var(--lighter-pri-color); }
.carousel .control.left {  }
.carousel .control.left img { transform: rotate(180deg); }
.carousel .control.right {  }
.carousel .control img { width: 1rem; height: 1rem; filter: var(--light-text-color-filter); transition: 0.4s; }
.carousel .control:disabled img { filter: var(--light-pri-color-filter); }
.carousel .inner { display: flex; flex-wrap: nowrap; flex-direction: row; align-items: stretch; justify-content: flex-start; overflow-x: auto; gap: 1.7rem; padding: 2rem 1.7rem; transition: 0.2s; }
.carousel .item { position: relative; background: var(--bg-color); flex: 0 0 30%; border: 1px solid var(--stroke-color); padding: 1.2rem; box-shadow: 0px 4px 40px 0px rgba(25, 85, 139, 0.03); max-width: 20rem; }
.carousel .item .img {  }
.carousel .item .img img { width: 4rem; height: 4rem; display: block; margin: 0; padding: .6rem; border: 1px solid var(--stroke-color); margin-bottom: 1.4rem; object-fit: contain; }
.carousel .item .img img.dell { background: #007DB8; }
.carousel .item .img img:is(.couchbase, .seguridata, .tassta) { background: #FFFFFF; }
.carousel .item .img img.panini { background: #1D1D1B; }
.carousel .item h4 { margin-bottom: .7rem; }
.carousel .item .text-3 {  }

.g-cards-1 { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: center; align-items: stretch; gap: 3.5rem; }
.g-cards-1 .g-card { flex: 0 0 22%; box-shadow: 0px 4px 40px 0px rgba(25, 85, 139, 0.03); border: 1px solid var(--stroke-color); background: var(--bg-color); padding: 1.5rem; position: relative; transition: 0.4s; }
.g-cards-1 .g-card:hover { transform: scale(1.02); }
.g-cards-1 .g-card .icon { width: 4rem; height: 4rem; border: 1px solid var(--stroke-color); display: block; margin: 0 auto; text-align: center; position: relative; margin-bottom: 1rem; }
.g-cards-1 .g-card .icon img { padding: .5rem; filter: var(--pri-color-filter); width: 100%; height: 100%; }
.g-cards-1 .g-card h6 { text-align: center; }
.g-cards-1 .g-card .text-4 { text-align: center; }


/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    main header .info { flex: 0 0 60%; }
    main header .image { flex: 0 0 40%; }

    main section#empresa .heading { width: 55%; }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    main header .info { flex: 0 0 70%; }
    main header .image { flex: 0 0 30%; }

    main section#empresa .heading { width: 65%; }

    main section#servicios h3 { width: 40%; }

    main section#productos h2 { width: 55%; margin-bottom: 3rem; }

    :root { --n-logos: 4; }
    .slider .track .item { padding: 0 1rem; }

    .tabs { gap: 2rem; }
    .tabs .column.info { flex: 1 0 calc(60% - 2rem); }
    .tabs .column.image { flex: 1 0 calc(40% - 2rem); }

    .squares-3 { gap: 2rem; }
    .squares-3 .square { flex: 0 0 calc(100% / 3 - 2rem); }

    .g-cards-1 .g-card { flex: 0 0 27%; }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    main header .info { flex: 1 0 80%; }
    main header .image { flex: 0 0 20%; display: none; }

    main section#empresa .heading { width: 75%; }

    main section#nosotros .heading { flex-wrap: wrap; }
    main section#nosotros .heading .column { flex: 1 0 100%; }
    main section#nosotros .heading .column.image { padding-bottom: 3rem; }
    main section#nosotros .heading .column.image img { margin-bottom: -40%; padding-right: 0; }

    main section#servicios h3 { width: 50%; }

    main section#productos h2 { width: 75%; }

    main section#socios .column.heading { flex: 1 1 45%; width: 45%; padding-right: 1rem; }
    main section#socios .column.carousel { flex: 1 1 55%; width: 55%; }

    main section#why .text-2 { width: 50%; }

    :root { --n-logos: 3; }

    .squares-1 { gap: 2rem; }

    .squares-2 { padding-top: 3rem; }
    .squares-2 .square { flex: 1 0 calc(50% - 2rem); }

    /* .tabs .column.info { flex: 1 0 calc(70% - 2rem); }
    .tabs .column.image { flex: 1 0 calc(30% - 2rem); } */

    .squares-3 .square { flex: 0 0 calc(100% / 2 - 2rem); }

    .carousel .item { flex: 0 0 50%; }

    .g-cards-1 { gap: 2rem; }
    .g-cards-1 .g-card { flex: 0 0 32%; }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    main :is(header, section) h1 { font-size: 2.3rem; margin-bottom: 2rem; }
    main :is(header, section) h2 { font-size: 2rem; margin-bottom: 1.6rem; }
    main :is(header, section) p.text-1 { margin-bottom: 2.5rem; }
    main :is(header, section) p.text-2 { font-size: .9rem; }

    main header#inicio { background: url('../img/bg-right-mobile.png'), var(--bg-color); background-size: 60%; background-repeat: no-repeat; background-position: right top; background-attachment: local; }
    main header .container .content { padding: 30% 0 35% 0; }
    main header .info { flex: 1 0 90%; }
    main header .image { flex: 0 0 10%; }
    main header .links { gap: .7rem; }
    main header .links a.f-btn.desktop { display: none; }
    main header .links a.f-btn.mobile { display: inline-block; }

    main section#empresa .heading { width: 98%; }
    main section#empresa .text-1 { font-size: 1rem; }

    main section#servicios .section-container .content { padding-top: 4rem; }
    main section#servicios h3 { width: 75%; }

    main section#productos .section-container .content { padding: 7rem 0; }

    main section#socios .column.heading { flex: 1 1 100%; width: 100%; padding-right: 0; box-shadow: none; }
    main section#socios .column.carousel { flex: 1 1 100%; width: 100%; }
    main section#why .text-2 { width: 80%; }

    :root { --n-logos: 2.5; }
    .slider .track .item { padding: 0 .5rem; }

    .squares-1 { padding-top: 0; }
    .squares-1 .square { flex: 1 0 100%; }
    .squares-1 .square .square-content { padding: 1.3rem; }
    .squares-1 .square h4 { margin-bottom: 1rem; }
    .squares-1 .square h4 .icon { height: 2.1rem; }

    .squares-2 .square h5 { font-size: 1.5rem; }

    .tabs .column.info { flex: 1 0 100%; }
    .tabs .column.image { display: none; }

    .squares-3 { gap: 1rem; }
    .squares-3 .square { flex: 0 0 calc(100% / 2 - 1rem); }

    .carousel .controls { display: none; }
    .carousel .inner { padding-left: 0; }
    .carousel .item { flex: 0 0 75%; }

    .g-cards-1 { flex-wrap: wrap; }
    .g-cards-1 .g-card { flex: 0 0 100%; }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    main :is(header, section) h3 { font-size: 1.8rem; }

    main section#empresa .heading { width: 100%; }

    main section#nosotros .heading .column.info h3 { width: 100%; }
    main section#nosotros .heading .column.info .text-1 { text-align: justify; }

    main section#servicios h3 { width: 100%; }

    main section#productos .section-container .content { padding: 5rem 0; }
    main section#productos h2 { width: 80%; }

    :root { --n-logos: 2; }
    .slider .track .item { padding: 0.2rem; }

    .squares-2 .square { flex: 1 0 100%; }

    .squares-3 { gap: 2rem; }
    .squares-3 .square { flex: 0 0 100%; }
    .square-xs { display: none; }
}