main section { min-height: 60vh; border: 1px solid red; }

.btn-type-1 { font-size: 1rem; display: inline-block; border: 1px solid var(--pri-color); color: var(--white); text-decoration: none; line-height: 1; padding: .5rem 1rem; border-radius: 0; background: var(--pri-color); }

.btn-type-3 { font-size: 1rem; display: inline-block; border: 1px solid var(--white); color: var(--pri-color); text-decoration: none; line-height: 1; padding: .5rem 1rem; border-radius: 0; background: var(--white); }
/* .btn-type-3:hover { box-shadow: ; } */
.btn-type-3 .arrow { position: relative; display: inline-block; margin-left: .25rem; }
.btn-type-3 .arrow img { vertical-align: middle; height: .6rem; width: .6rem; filter: var(--pri-color-filter); }
.btn-type-3 .arrow .tail { position: absolute; top: 3.5px; }
.btn-type-3 .arrow .head { transition: 0.3s; }
.btn-type-3:hover .arrow .head { transform: translateX(.15rem); }
